player-connection-mode=Listen
player-connection-guid=2967942678
player-connection-debug=0
player-connection-project-name=SpaceFish
player-connection-ip=192.168.50.173
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1a399a6939fa427f83100a989c1b2986
